main section {
    width: 30%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 50px;
}

main section h1 {
	text-align: center;
	font-size: 32px;
	margin: 30px;
}
main section h3 {
	text-align: center;
	font-size: 24px;
	margin: 40px 0 10px;
}

main section ol li {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 18px;
    margin-top: 10px;
}