:root {
  --text-color-blanco: hsl(0, 0%, 100%);
  --text-color-negro: hsl(288, 11%, 9%);
  --bg-color: hsl(350, 49%, 42%);
  --bg-fondo-negro: hsl(288, 11%, 9%);
  --bg-fondo-blanco: hsl(0, 0%, 100%);
  --bg-fondo-gris: rgba(255, 255, 255, 0.3);
  --negro: #0000007a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: var(--bg-fondo-negro);
  color: var(--text-color-blanco);
}

.separacion {
  width: 80vw;
  border: var(--bg-color) solid 2px;
  margin: 0 auto;
  margin: 10px 0 10px 0;
}

/* index */
nav {
  background-color: var(--bg-color);
  position: sticky;
  top: 0;
  height: 10vh;
  z-index: 3;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
}

nav ul {
  list-style: none;
  position: relative;
  top: 20px;
}

nav ul li {
  float: right;
}

nav ul li a {
  color: var(--text-color-blanco);
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
  padding: 10px;
  border-radius: 5px;
  transition: box-shadow 0.3s;
}

nav ul li a:hover {
  box-shadow: 0 0 10px var(--bg-fondo-negro);
}

nav ul li:first-child {
  float: left;
  font-size: 20px;
}

nav ul li:first-child a {
  transition: none;
}

nav ul li:first-child a:hover {
  box-shadow: none;
  animation: tilt-n-move-shaking 0.25s infinite;
}

nav ul li:nth-child(2) {
  margin-right: 30px;
}

nav ul li:nth-child(2) a {
  background-color: var(--bg-fondo-negro);
}

nav ul li:nth-child(2) a:hover {
  background-color: var(--bg-color);
}

@media only screen and (max-width: 768px) {
  nav {
    font-size: 16px;
    font-weight: 400;
    height: 13vh;
  }
  nav ul li a {
    padding: 5px;
    margin: 0 10px;
  }
  nav ul li:first-child {
    float: none;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  nav ul li:nth-child(2) {
    margin-right: 200px;
  }
}

@media only screen and (max-width: 650px) {
  nav ul li:nth-child(2) {
    margin-right: 100px;
  }
}

@media only screen and (max-width: 450px) {
  nav ul li a {
    margin: 0 5px;
  }
  nav ul li:nth-child(2) {
    margin-right: 0;
  }
}
@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}
