* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(
      to right top,
      rgba(36, 36, 36, 0.4509803922),
      rgba(36, 36, 36, 0.4509803922)
    ),
    url(../assets/img/bg-register.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}

nav {
  background-color: #9f3647;
  height: 10vh;
  padding: 30px;
}
nav a {
  display: inline-block;
  color: var(--text-color-blanco);
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  transition: box-shadow 0.3s;
}

nav a:hover {
  box-shadow: 0 0 10px var(--bg-fondo-negro);
}

nav a:hover {
  box-shadow: none;
  animation: tilt-n-move-shaking 0.25s infinite;
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

main {
  width: 30%;
  height: 85vh;
  margin: 15px auto;
  background-color: #2a2a2a;
  border-radius: 5px;
  padding: 40px 20px;
  text-align: center;
  animation: startFromCenter 1s;
}
main section {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
main section h1 {
  font-size: 40px;
}
main section form {
  width: 100%;
  padding: 20px 40px;
}
main section form p {
  display: none;
  color: #ff0000;
  font-size: 14px;
  margin-bottom: 10px;
}
main section form input,
main section form select {
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  padding: 0px 20px;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 20px;
  border: 2px solid #9f3647;
  background-color: #333333;
  outline: none;
  color: #ffffff;
}
main section form div {
  text-align: left;
}
main section form div input {
  width: 14px;
  height: 14px;
}
main section form div label {
  font-size: 14px;
}
main section form button {
  width: 90%;
  margin-top: 10px;
  box-sizing: content-box;
  background-color: #9f3647;
  border: 2px solid #9f3647;
  color: #ffffff;
  padding: 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}
main section form a {
  font-size: 16px;
  text-decoration: none;
  color: #787878;
  position: relative;
  display: block;
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  main {
    width: 90%;
  }
  main section form a {
    text-align: center;
    margin-top: 40px;
  }
}

@keyframes startFromCenter {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
