* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

header {
  nav {
    background-color: #9f3647;
    position: sticky;
    top: 0;
    height: 10vh;
    z-index: 3;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
  }

  nav ul {
    list-style: none;
    position: relative;
    top: 20px;
  }
  nav ul li {
    float: right;
  }
  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    padding: 10px;
    border-radius: 5px;
    transition: box-shadow 0.3s;
  }
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  nav ul li:first-child {
    float: left;
    font-size: 20px;
  }
  nav ul li:first-child a {
    transition: none;
  }
  nav ul li:first-child a:hover {
    box-shadow: none;
    animation: tilt-n-move-shaking 0.25s infinite;
  }
  nav ul li:nth-child(2) {
    margin-right: 30px;
  }
  nav ul li:nth-child(2) a {
    background-color: #000000;
  }
  nav ul li:nth-child(2) a:hover {
    background-color: #3b3b3b;
  }
}
@media only screen and (max-width: 768px) {
  header {
    nav {
      font-size: 16px;
      font-weight: 400;
      height: 13vh;
    }
    nav ul li a {
      padding: 5px;
      margin: 0 10px;
    }
    nav ul li:first-child {
      float: none;
      width: 100%;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    nav ul li:nth-child(2) {
      margin-right: 200px;
    }
  }
}
@media only screen and (max-width: 650px) {
  header {
    nav ul li:nth-child(2) {
      margin-right: 100px;
    }
  }
}
@media only screen and (max-width: 450px) {
  header {
    nav ul li a {
      margin: 0 5px;
    }
    nav ul li:nth-child(2) {
      margin-right: 0;
    }

    @keyframes tilt-n-move-shaking {
      0% {
        transform: translate(0, 0) rotate(0deg);
      }
      25% {
        transform: translate(5px, 5px) rotate(5deg);
      }
      50% {
        transform: translate(0, 0) rotate(0eg);
      }
      75% {
        transform: translate(-5px, 5px) rotate(-5deg);
      }
      100% {
        transform: translate(0, 0) rotate(0deg);
      }
    }
  }
}

.mainDetail {
  .detail {
    padding-top: 50px;
    background: linear-gradient(to right top, #6d6969a7, #6d6969a7),
      url('../assets/img/mario-bg.jpg');
    background-size: cover;
    background-position: center;
    height: calc(100vh - 20vh);

    .detailDiv {
      background-color: transparent;
      width: 75vw;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 60px;

      img {
        border-radius: 20px;
      }

      .textDetail {
        h1 {
          font-size: 2.2rem;
          font-weight: 700;
        }

        h2 {
          margin-top: 20px;
        }

        .credits {
          margin-top: 20px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  .trailer {
    padding-top: 150px;
    padding-bottom: 100px;
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 70px;

    .contentInfo {
      .redes {
        margin-bottom: 20px;

        ul {
          list-style: none;
          display: flex;
          column-gap: 20px;

          li {
            a {
              text-decoration: none;
              color: #ffffff;
              font-size: 2.5rem;
              margin-right: 50px;
            }
          }
        }
        .socialImg {
          background-color: #ffffff;
        }
      }

      .info {
        table {
          width: 100%;

          tr {
            td {
              font-size: 1.2rem;
              padding: 10px 0px;
            }
          }
        }
      }
    }
  }
}

.footer {
  background-color: #9f3647;
  color: #ffffff;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    padding: 1.5rem 0;
  }

  .ulNav {
    list-style: none;
    display: flex;
    align-items: center;

    .liItem {
      margin-left: 20px;

      .linkNav {
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;
        font-size: 1.2rem;
      }

      .admPeliculas {
        background-color: #181419;
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 5px;
      }
    }
  }

  .botonTop {
    position: fixed;
    bottom: 20px;
    right: 15px;
    color: white;
    cursor: pointer;
    z-index: 4;
  }
}

.separacion {
  width: 100vw;
  height: 1px;
  border: #9f3647 solid 2px;
  /* padding: 10rem; */
}

/* css Elias */
body {
  background-color: #1c171d;
  color: white;
}

.main .seccionPrincipal {
  background-image: url('../assets/img/banner-bg.jpg');
  background-color: black;
  color: white;
  height: calc(100vh - 10vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.titulo {
  font-size: 4rem;
  font-weight: 650;
  margin-bottom: 1rem;
}

.subtitulo {
  font-size: 2.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.registro,
.botonBuscar {
  background-color: #ac364a;
  color: #f7f0f0;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.buscador {
  background-color: #181419;
  color: rgb(255, 255, 255);
  height: calc(100vh - 10vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SeccionBusqueda {
  font-size: 2.5rem;
  font-weight: 650;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botonBuscar {
  font-size: 1.2rem;
  height: 30px;
  margin: 20px 10px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.tendencia {
  background-color: #1c171d;
  color: white;
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

.tituloTendencia {
  font-size: 2.3rem;
  font-weight: 650;
  margin-bottom: 45px;
}

.peliculas {
  display: flex;
  justify-content: center;
}

.pelicula {
  width: 200px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.imgTendencia {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.botonAnterior,
.botonSiguiente {
  border: 0px solid transparent;
  box-sizing: content-box;
  margin-top: 50px;
  margin-left: 20px;
  background-color: #943142;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 57px;
}

/* fin css Elias */
