:root {
  --text-color: hsl(0, 0%, 100%);
  --bg-color: hsl(350, 49%, 42%);
  --bg-fondo-color: rgba(0, 0, 0, 0.3);
  --bg-secondary-color: hsl(0, 0%, 0%);
  --bg-terciary-color: hsl(0, 0%, 23%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

nav {
  background-color: var(--bg-color);
  position: sticky;
  top: 0;
  height: 10vh;
  z-index: 3;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
}

nav ul {
  list-style: none;
  position: relative;
  top: 20px;
}

nav ul li {
  float: right;
}

nav ul li a {
  color: var(--text-color);
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
  padding: 10px;
  border-radius: 5px;
  transition: box-shadow 0.3s;
}

nav ul li a:hover {
  box-shadow: 0 0 10px var(--bg-fondo-color);
}

nav ul li:first-child {
  float: left;
  font-size: 20px;
}

nav ul li:first-child a {
  transition: none;
}

nav ul li:first-child a:hover {
  box-shadow: none;
  animation: tilt-n-move-shaking 0.25s infinite;
}

nav ul li:nth-child(2) {
  margin-right: 30px;
}

nav ul li:nth-child(2) a {
  background-color: var(--bg-secondary-color);
}

nav ul li:nth-child(2) a:hover {
  background-color: var(--bg-color);
}

@media only screen and (max-width: 768px) {
  nav {
    font-size: 16px;
    font-weight: 400;
    height: 13vh;
  }
  nav ul li a {
    padding: 5px;
    margin: 0 10px;
  }
  nav ul li:first-child {
    float: none;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  nav ul li:nth-child(2) {
    margin-right: 200px;
  }
}

@media only screen and (max-width: 650px) {
  nav ul li:nth-child(2) {
    margin-right: 100px;
  }
}

@media only screen and (max-width: 450px) {
  nav ul li a {
    margin: 0 5px;
  }
  nav ul li:nth-child(2) {
    margin-right: 0;
  }

  @keyframes tilt-n-move-shaking {
    0% {
      transform: translate(0, 0) rotate(0deg);
    }
    25% {
      transform: translate(5px, 5px) rotate(5deg);
    }
    50% {
      transform: translate(0, 0) rotate(0eg);
    }
    75% {
      transform: translate(-5px, 5px) rotate(-5deg);
    }
    100% {
      transform: translate(0, 0) rotate(0deg);
    }
  }
}

.mainDetail {
  .detail {
    padding-top: 50px;
    background: linear-gradient(to right top, #6d6969a7, #6d6969a7),
      url(../assets/img/mario-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 75vh;

    .detailDiv {
      width: 75vw;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 60px;

      img {
        border-radius: 20px;
      }

      .textDetail {
        h1 {
          font-size: 2.2rem;
          font-weight: 700;
        }

        h2 {
          margin-top: 20px;
        }
      }
      .credits {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .trailer {
    padding-top: 150px;
    padding-bottom: 100px;
    width: 75vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 70px;

    .contentInfo {
      .redes {
        margin-bottom: 20px;

        ul {
          list-style: none;
          display: flex;
          column-gap: 20px;

          li {
            a {
              text-decoration: none;
              color: #ffffff;
              font-size: 2.5rem;
              margin-right: 50px;
            }
          }
        }
        .socialImg {
          background-color: #ffffff;
        }
      }

      .info {
        table {
          width: 100%;

          tr {
            td {
              font-size: 1.2rem;
              padding: 10px 0px;
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: #9f3647;
  height: 12vh;
  z-index: 3;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

footer div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

footer div a {
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  margin: 0 10px;
}

footer div a:last-child {
  padding: 5px;
  background-color: #000000;
  border-radius: 5px;
}

footer > a {
  position: fixed;
  right: 25px;
  bottom: 25px;
  /* color: #000000; */
  color: #ffffff;
  background-color: transparent;
  /* border: 2px solid #000000; */
  border: 2px solid #ffffff;
  border-radius: 50%;
  padding: 5px;
  height: 30px;
  width: 30px;
  font-size: 16px;
}

footer > a i {
  position: absolute;
  top: 5px;
  left: 6px;
  cursor: pointer;
}

@media only screen and (max-width: 798px) {
  footer {
    height: 20vh;
    font-weight: 400;
    font-size: 16px;
  }
  footer div {
    padding: 10px;
  }
  footer div a {
    font-size: 16px;
    margin: 10px 0;
    display: block;
  }
  footer div a:last-child {
    width: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}

.separacion {
  width: 80vw;
  border: #9f3647 solid 2px;
  margin: 0 auto;
  margin-top: 10px;
}

/* css Elias */
body {
  background-color: #1c171d;
  color: white;
}

.main .seccionPrincipal {
  background-image: url('../assets/img/banner-bg.jpg');
  background-color: black;
  color: white;
  height: calc(100vh - 10vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.titulo {
  font-size: 4rem;
  font-weight: 650;
  margin-bottom: 1rem;
}

.subtitulo {
  font-size: 2.2rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.registro,
.botonBuscar {
  background-color: #ac364a;
  color: #f7f0f0;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

.buscador {
  background-color: #181419;
  color: rgb(255, 255, 255);
  height: calc(30vh);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SeccionBusqueda {
  font-size: 2.5rem;
  font-weight: 650;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.botonBuscar {
  font-size: 1.2rem;
  height: 30px;
  margin: 20px 10px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.tendencia {
  background-color: #1c171d;
  color: white;
  width: 80vw;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}

.tituloTendencia {
  font-size: 2.3rem;
  font-weight: 650;
  margin-bottom: 45px;
}

.peliculas {
  display: flex;
  justify-content: center;
}

.pelicula {
  width: 200px;
  height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  gap: 60px;
}

.imgTendencia {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.botonAnterior,
.botonSiguiente {
  border: 0px solid transparent;
  box-sizing: content-box;
  margin-top: 3rem;
  margin-left: 1.5rem;
  background-color: #943142;
  color: white;
  padding: 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 3rem;
}

/* fin css Elias */

/* css Facundo*/
.aclamadas {
  background-color: #1c171d;
  width: 80vw;
  text-align: center;
  margin: 20px 0;
  /* justify-content: center; */
}

.tituloAclamada {
  font-size: 2.3rem;
  font-weight: 650;
}

.peliculasAclamadas {
  width: 80vw;
  margin-left: 10%;
  /* text-align: center; */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.peliculaAclamada {
  width: 170px;
  /* height: 250px; */
  position: relative;
  display: inline-block;
  border-radius: 25px;
  margin: 20px 25px;
  /* margin-left: 50; */
}
/* fin css facundo*/
