:root {
  --text-color-blanco: hsl(0, 0%, 100%);
  --text-color-negro: hsl(288, 11%, 9%);
  --bg-color: hsl(350, 49%, 42%);
  --bg-fondo-negro: hsl(288, 11%, 9%);
  --bg-fondo-blanco: hsl(0, 0%, 100%);
  --bg-fondo-gris: rgba(255, 255, 255, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  background-color: var(--bg-fondo-negro);
  color: var(--text-color-blanco);
}

.separacion {
  width: 80vw;
  border: var(--bg-color) solid 2px;
  margin: 0 auto;
  margin: 10px 0 10px 0;
}

/* index */
nav {
  background-color: var(--bg-color);
  position: sticky;
  top: 0;
  height: 10vh;
  z-index: 3;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
}

nav ul {
  list-style: none;
  position: relative;
  top: 20px;
}

nav ul li {
  float: right;
}

nav ul li a {
  color: var(--text-color-blanco);
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
  padding: 10px;
  border-radius: 5px;
  transition: box-shadow 0.3s;
}

nav ul li a:hover {
  box-shadow: 0 0 10px var(--bg-fondo-negro);
}

nav ul li:first-child {
  float: left;
  font-size: 20px;
}

nav ul li:first-child a {
  transition: none;
}

nav ul li:first-child a:hover {
  box-shadow: none;
  animation: tilt-n-move-shaking 0.25s infinite;
}

nav ul li:nth-child(2) {
  margin-right: 30px;
}

nav ul li:nth-child(2) a {
  background-color: var(--bg-fondo-negro);
}

nav ul li:nth-child(2) a:hover {
  background-color: var(--bg-color);
}

@media only screen and (max-width: 768px) {
  nav {
    font-size: 16px;
    font-weight: 400;
    height: 13vh;
  }
  nav ul li a {
    padding: 5px;
    margin: 0 10px;
  }
  nav ul li:first-child {
    float: none;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  nav ul li:nth-child(2) {
    margin-right: 200px;
  }
}

@media only screen and (max-width: 650px) {
  nav ul li:nth-child(2) {
    margin-right: 100px;
  }
}

@media only screen and (max-width: 450px) {
  nav ul li a {
    margin: 0 5px;
  }
  nav ul li:nth-child(2) {
    margin-right: 0;
  }
}
@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

/* css Elias */
.main {
  .seccionPrincipal {
    height: 90vh;
    background: linear-gradient(to right top, #1110107b, #1110107b),
      url(../assets/img/banner-bg.jpg);
    /* background-image: url('../assets/img/banner-bg.jpg'); */
    background-color: var(--bg-fondo-negro);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-color-blanco);
    animation: startFromCenter 1s;
    /* filter: blur(2px); */
  }

  .titulo {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .subtitulo {
    font-size: 2.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }
}

.registro,
.botonBuscar {
  background-color: var(--bg-color);
  color: var(--text-color-blanco);
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: var(--bg-color);
    transform: scale(0.95);
    box-shadow: 0 0 10px var(--bg-fondo-gris);
  }
}

.buscador {
  background-color: var(--text-color-negro);
  color: var(--text-color-blanco);
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: appearFromBottom 1s forwards;

  /* h3 titulo de busqueda */
  .SeccionBusqueda {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  /* form busqueda */
  .BusquedaPeliculas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    /* input busqueda */
    .ingresarbusqueda {
      width: 500px;
      height: 50px;
      margin: 20px 0;
      padding: 0 20px;
      color: var(--text-color-negro);
      font-size: 1.2rem;
      border-radius: 25px;
      border: 2px solid var(--bg-color-blanco);
      outline: none;
    }

    /* boton buscar */
    .botonBuscar {
      background-color: var(--bg-color);
      color: var(--text-color-blanco);
      height: 50px;
      margin: 20px 10px;
      padding: 0 20px;
      border-radius: 25px;
      font-size: 1.2rem;
      font-weight: 700;
      border: 2px solid var(--bg-fondo-blanco);
      text-align: center;
      transition: transform 5ms, box-shadow 5ms;
      display: inline-block;

      &:hover {
        background-color: var(--bg-color);
        transform: scale(0.95);
        box-shadow: 0 0 10px var(--bg-fondo-gris);
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .buscador {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    /* h3 titulo de busqueda */
    .SeccionBusqueda {
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }
    .BusquedaPeliculas {
      max-width: 100%;
      /* input busqueda */
      .ingresarbusqueda {
        width: 80%;
        min-width: 80%;
        padding: 0 20px;
        font-size: 1rem;
        border-radius: 25px;
      }

      /* boton buscar */
      .botonBuscar {
        font-size: 1rem;
        font-weight: 700;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .buscador {
    /* h3 titulo de busqueda */
    .SeccionBusqueda {
      font-size: 1.5rem;
      margin-bottom: 0;
    }
    .BusquedaPeliculas {
      display: block;
      max-width: 100%;
      text-align: center;
      /* input busqueda */
      .ingresarbusqueda {
        padding: 15px;
        font-size: 1rem;
        border-radius: 25px;
      }
    }
  }
}

.tendencia {
  background-color: var(--bg-fondo-color);
  /* background-color: #1c171d; */
  color: var(--text-color-blanco);
  width: 80vw;
  margin: 10px auto 0 auto;
  text-align: center;
  /* margin-top: 10px; */
  animation: appearFromBottom 1s forwards;
  padding-top: 10vh;

  .tituloTendencia {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .peliculas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
  }

  .pelicula {
    width: 200px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s ease;
  }

  .pelicula:hover {
    transform: scale(0.9);
    box-shadow: 0 0 30px var(--bg-color);
  }

  .imgTendencia {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .botonAnterior,
  .botonSiguiente {
    background-color: var(--bg-color);
    color: var(--text-color-blanco);
    border: 1px solid var(--bg-fondo-blanco);
    box-sizing: content-box;
    margin-top: 50px;
    margin-left: 20px;
    padding: 1rem;
    border-radius: 5px;
    /* font-size: 1rem; */
    font-weight: 600;
    text-decoration: none;
    margin-bottom: 60px;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      background-color: var(--bg-color);
      transform: scale(0.95);
      box-shadow: 0 0 10px var(--bg-fondo-gris);
    }
  }
}
/* fin css Elias */

/* css Facundo*/
/* div contenedor general aclamadas */
.aclamadas {
  /* background-color: var(--bg-fondo-color); */
  width: 80%;
  color: var(--text-color-blanco);
  margin: 10px auto 50px auto;
  text-align: center;
  animation: appearFromBottom 1s forwards;
}

/* titulo las mas aclamadas */
.tituloAclamada {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}

/* div contenedor imagenes aclamadas  */
.peliculasAclamadas {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-x: none;
  overflow-y: hidden;
  /* white-space: nowrap; */

  &:hover {
    overflow-x: scroll;
  }

  /* card pelicula imagen */
  .peliculaAclamada {
    /* width: 170px; */
    min-width: 170px;
    max-width: 170px;
    /* height: 250px; */
    border-radius: 55px;
    margin: 20px 20px;
    cursor: pointer;
    img {
      border-radius: 5%;
      width: 95%;
      height: 95%;
      object-fit: cover;
    }
  }
}
/* fin css facundo*/

footer {
  background-color: var(--bg-color);
  height: 12vh;
  z-index: 3;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
}

/* footer */
footer div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

footer div a {
  display: inline-block;
  font-size: 18px;
  color: var(--text-color-blanco);
  text-decoration: none;
  font-weight: 700;
  margin: 0 10px;
}

footer div a:last-child {
  padding: 10px;
  background-color: var(--bg-fondo-negro);
  border-radius: 5px;
}

footer > a {
  position: fixed;
  right: 25px;
  bottom: 25px;
  color: var(--text-color-blanco);
  background-color: transparent;
  border: 2px solid var(--bg-fondo-blanco);
  border-radius: 50%;
  padding: 5px;
  height: 30px;
  width: 30px;
  font-size: 16px;
}

footer > a i {
  position: absolute;
  top: 5px;
  left: 6px;
  cursor: pointer;
}

@media only screen and (max-width: 798px) {
  footer {
    height: 20vh;
    font-weight: 400;
    font-size: 16px;
  }

  footer div {
    padding: 10px;
  }

  footer div a {
    font-size: 16px;
    margin: 10px 0;
    display: block;
  }

  footer div a:last-child {
    width: 200px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* footer */
/* fin Index */

/* Detalle */
.mainDetail {
  .detail {
    padding-top: 50px;
    background: linear-gradient(
        to right top,
        var(--bg-fondo-gris),
        var(--bg-fondo-gris)
      ),
      url(../assets/img/mario-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 75%;
    animation: startFromCenter 1s;

    .detailDiv {
      width: 75%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 60px;

      img {
        border-radius: 20px;
      }

      .pDetail {
        h1 {
          font-size: 2.2rem;
          font-weight: 700;
        }

        h2 {
          margin-top: 20px;
        }
      }
      .credits {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
      }
    }
  }

  .trailer {
    padding-top: 150px;
    padding-bottom: 100px;
    width: 75vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 70px;
    animation: appearFromBottom 1s forwards;

    .contentInfo {
      .redes {
        margin-bottom: 20px;

        ul {
          list-style: none;
          display: flex;
          column-gap: 20px;

          li {
            a {
              text-decoration: none;
              color: var(--text-color-blanco);
              font-size: 2.5rem;
              margin-right: 50px;
            }
          }
        }
        .socialImg {
          background-color: var(--bg-color-blanco);
        }
      }

      .info {
        table {
          width: 100%;

          tr {
            td {
              font-size: 1.2rem;
              padding: 10px 0px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1152px) {
  .mainDetail {
    .detail {
      .detailDiv {
        flex-direction: column;
        row-gap: 20px;

        img {
          width: 100%;
          height: 300px;
        }

        .pDetail {
          h1 {
            font-size: 1.5rem;
          }

          h2 {
            font-size: 1rem;
          }

          .credits {
            flex-direction: column;
            row-gap: 10px;
          }
        }
      }
    }

    .trailer {
      width: 95%;
      padding-top: 50px;
      padding-bottom: 50px;
      flex-direction: column;
      row-gap: 20px;

      .contentTrailer {
        width: 100%;

        h2 {
          margin-bottom: 20px;
        }

        iframe {
          width: 100%;
          height: 300px;
        }
      }

      .contentInfo {
        width: 100%;

        .redes {
          width: 100%;

          ul {
            width: 100%;
            display: flex;
            justify-content: space-between;

            li {
              a {
                font-size: 2rem;
                margin-right: 20px;
              }
            }
          }
        }

        .info {
          table {
            tr {
              td {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
/* Fin detalle */

@keyframes startFromCenter {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes appearFromBottom {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
