body {
  height: 100vh;
  background: linear-gradient(
      to right top,
      rgba(36, 36, 36, 0.4509803922),
      rgba(36, 36, 36, 0.4509803922)
    ),
    url(../assets/img/bg-register.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--text-color-blanco);
}

nav {
  background-color: var(--bg-color);
  height: 10vh;
  padding: 30px;
}
nav a {
  display: inline-block;
  color: var(--text-color-blanco);
  text-decoration: none;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  transition: box-shadow 0.3s;
}

nav a:hover {
  box-shadow: 0 0 10px var(--bg-fondo-negro);
}

nav a:hover {
  box-shadow: none;
  animation: tilt-n-move-shaking 1s infinite;
}

@keyframes tilt-n-move-shaking {
  0% {
    color: white;
    transform: scale(1);
    transform: translate(-10px, -3px);
  }
  10% {
    color: antiquewhite;
    transform: scale(1.1);
    transform: translate(0px, -1px);
  }
  20% {
    color: lightgrey;
    transform: scale(1.2);
    transform: translate(10px, 1px);
  }
  30% {
    color: darkgrey;
    transform: scale(1.3);
    transform: translate(20px, 3px);
  }
  40% {
    color: grey;
    transform: scale(1.4);
    transform: translate(30px, 1px);
  }
  50% {
    color: black;
    transform: scale(1.4);
    transform: translate(40px, -1px);
  }
  60% {
    color: grey;
    transform: scale(1.4);
    transform: translate(30px, -3px);
  }
  70% {
    color: darkgrey;
    transform: scale(1.3);
    transform: translate(20px, -1px);
  }
  80% {
    color: lightgrey;
    transform: scale(1.2);
    transform: translate(10px, 1px);
  }
  90% {
    color: antiquewhite;
    transform: scale(1.1);
    transform: translate(0px, 3px);
  }
  100% {
    color: white;
    transform: scale(1);
    transform: translate(-10px, -1px);
  }
}

main {
  width: 30%;
  height: 85vh;
  margin: 15px auto;
  background-color: var(--negro-main);
  border-radius: 5px;
  padding: 40px 20px;
  text-align: center;
  animation: startFromCenter 1s;
}
main section {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
main section h1 {
  font-size: 40px;
}
main section form {
  width: 100%;
  padding: 20px 40px;
}
main section form p {
  display: none;
  color: var(--rojo);
  font-size: 14px;
  margin-bottom: 10px;
}
main section form input {
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  padding: 0px 20px;
  margin-top: 10px;
  font-size: 20px;
  border-radius: 20px;
  border: 2px solid var(--bg-color);
  background-color: var(--negro-section);
  outline: none;
  color: var(--text-color-blanco);
}
main section form button {
  width: 90%;
  margin-top: 10px;
  box-sizing: content-box;
  background-color: var(--bg-color);
  border: 2px solid var(--bg-color);
  color: var(--text-color-blanco);
  padding: 16px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}
main section form a {
  font-size: 16px;
  text-decoration: none;
  color: var(--gris);
  position: relative;
  display: block;
  text-align: left;
}

@media only screen and (max-width: 1200px) {
  main {
    width: 90%;
  }
  main div form button {
    margin-top: 20px;
  }
  main div form a {
    text-align: center;
    margin-top: 40px;
  }
}

@keyframes startFromCenter {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.error-email,
.error-password {
  display: none;
  color: red;
  font-size: 0.9em;
}
